table.todo-table {
  margin: 15px 0 15px 0;

  tr {
    height: 40px;
  }

  td {

    vertical-align: middle !important;

    &.todo-status-cell {
      background-color: white !important;
      width: 50px;
      padding: 0;

      .btn-link {
        font-size: 18px;
        width: 100%;
        color: @gray;

        .completed {
          color: @alert-success-text;
        }
      }
    }

    &.todo-edit-cell {
      background-color: white !important;
      width: 50px;
      padding: 0;

      .btn-link {
        font-size: 18px;
        width: 100%;

        &.todo-edit {
          color: @gray;
        }

        &.todo-update {
          color: @alert-success-text;
        }
      }
    }

    &.todo-delete-cell {
      background-color: white !important;
      width: 50px;
      padding: 0;

      .btn-link {
        color: @alert-danger-text;
        font-size: 18px;
        width: 100%;
      }
    }
  }
}
